/*======== 404 Error Page  =========*/
.error-404-section-wrap{
  background-color: $gray-400;
  padding: 50px 0 100px;
}
.error {
	padding: 60px 0 0;
	font-size: 72px;
	line-height: 0.8;
	color: #363636;
	text-align: center;
}
.error > span {
	display: inline-block;
}
.error-code {
	font-weight: 900;
	font-size: 180px;
}
.error > span {
	display: inline-block;
	line-height: 1.1;
}
.error-text {
	margin-left: 16px;
	text-align: center;
	margin-bottom: 60px;
}
.error-text p {
	font-size: 18px;
}
div.error-text{
	margin-bottom: 0;
}