/*---------------------------------
Reset Deafault CSS
---------------------------------*/
html{
	font-size: 14px;
}
body{
	font-family: 'Roboto', sans-serif;
}
ul{
	list-style: none;
}
p{
	margin: 0;
}